<div class="mat-elevation-z8" style="margin-left: 24px; margin-right: 24px;" color="accent">
    <mat-form-field appearance="outline" style="margin-top: 12px;" color="accent">
        <input (click)="generarReporte()" (focus)="hideSearch()" (focusout)="showSearch()" matInput (keyup)="applyFilter($event.target.value)">
        <mat-label>
            Filtrar lista
            <!-- <mat-divider [vertical]="true"></mat-divider> -->
            <mat-icon *ngIf="show" style="float: right">search</mat-icon>
        </mat-label>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="tarjeta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarjeta </th>
            <td mat-cell *matCellDef="let row"> {{row.tarjeta}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="centro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Centro de Costo </th>
            <td mat-cell *matCellDef="let row"> {{row.centro}} </td>
        </ng-container>

        <ng-container matColumnDef="uo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UO </th>
            <td mat-cell *matCellDef="let row"> {{row.uo}} </td>
        </ng-container>

        <ng-container matColumnDef="turno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Turno </th>
            <td mat-cell *matCellDef="let row"> {{row.turno}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
            <td mat-cell *matCellDef="let row"> {{row.hora}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator style="padding-right: 70px" class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" color="accent">
    </mat-paginator>
</div>