<div class="mat-elevation-z8" style="margin-left: 24px; margin-right: 24px" color="accent">
    <mat-form-field appearance="outline" style="margin-top: 12px;" color="accent">
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-label>
            Filter
            <mat-icon>search</mat-icon>
        </mat-label>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="auditNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AuditNumber </th>
            <td mat-cell *matCellDef="let row"> {{row.auditNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoActual">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> EstadoActual </th>
            <td mat-cell *matCellDef="let row"> {{row.estadoActual}} </td>
        </ng-container>

        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
            <td mat-cell *matCellDef="let row"> {{row.number}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
            <td mat-cell *matCellDef="let row"> {{row.author}} </td>
        </ng-container>

        <ng-container matColumnDef="creationStamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CreationStamp </th>
            <td mat-cell *matCellDef="let row"> {{row.creationStamp}} </td>
        </ng-container>

        <ng-container matColumnDef="answerType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AnswerType </th>
            <td mat-cell *matCellDef="let row"> {{row.answerType}} </td>
        </ng-container>

        <ng-container matColumnDef="dias">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias </th>
            <td mat-cell *matCellDef="let row"> {{row.dias}} </td>
        </ng-container>

        <ng-container matColumnDef="origenPlanMejora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> OrigenPlanMejora </th>
            <td mat-cell *matCellDef="let row"> {{row.origenPlanMejora}} </td>
        </ng-container>

        <ng-container matColumnDef="responsible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsible </th>
            <td mat-cell *matCellDef="let row"> {{row.responsible}} </td>
        </ng-container>

        <ng-container matColumnDef="sabor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sabor </th>
            <td mat-cell *matCellDef="let row"> {{row.sabor}} </td>
        </ng-container>

        <ng-container matColumnDef="sector">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sector </th>
            <td mat-cell *matCellDef="let row"> {{row.sector}} </td>
        </ng-container>

        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
            <td mat-cell *matCellDef="let row"> {{row.size}} </td>
        </ng-container>

        <ng-container matColumnDef="topic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Topic </th>
            <td mat-cell *matCellDef="let row"> {{row.topic}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator style="padding-right: 70px" class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" color="accent">
    </mat-paginator>
</div>